@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?84et0v');
  src:  url('fonts/icomoon.eot?84et0v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?84et0v') format('truetype'),
    url('fonts/icomoon.woff?84et0v') format('woff'),
    url('fonts/icomoon.svg?84et0v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav_setting:before {
  content: "\e909";
}
.icon-nav_warning:before {
  content: "\e90a";
}
.icon-nav_log:before {
  content: "\e90b";
}
.icon-nav_account:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e908";
}
.icon-iconmoon_pumping:before {
  content: "\e900";
  color: #3aa9c9;
}
.icon-iconmoon_warning:before {
  content: "\e901";
  color: #3aa9c9;
}
.icon-iconmoon_rain:before {
  content: "\e902";
  color: #3aa9c9;
}
.icon-iconmoon_risk:before {
  content: "\e903";
  color: #3aa9c9;
}
.icon-iconmoon_watergate:before {
  content: "\e904";
  color: #3aa9c9;
}
.icon-iconmoon_dike:before {
  content: "\e905";
  color: #3aa9c9;
}
.icon-iconmoon_sensor:before {
  content: "\e906";
  color: #3aa9c9;
}
.icon-iconmoon_station:before {
  content: "\e907";
  color: #3aa9c9;
}
