.modal-body {
    max-height: calc(100vh - 195px);
    overflow-y: auto; }

/*---------------返回btn----------------*/
.back_link{
  padding: 0 0 10px 0;
}
.back_link .btn-accent{
  padding: 0.5rem 2rem;
  margin: -9px 0 10px 0;
  float: right;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1.2rem;
}

.btn-accent{
   -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15) !important;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15) !important;
}

.btn-accent:hover{
  background-color: #00a3b6;
  border-color: #00a3b6;
  -webkit-box-shadow: 0px 3px 6px rgba(34, 185, 255, 0.15) !important;
    box-shadow: 0px 3px 6px rgba(34, 185, 255, 0.15) !important;
}
.back_link i{
  padding-right: 6px;
}

.back_link .page_title{
  display: table;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
  font-weight: 600;
}

.back_link .page_title i{
 padding-right: 6px;
 font-size: 1.5rem;
}

.back_link .page_title i:before{
  font-weight: bold;
}
/*---------------後台選單header-----------*/
.adm_hd_nav{
  margin: 14px 0 26px 0;
  padding: 20px;
  background-color: #ffffff;
  background-color: #ffffff;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.adm_hd_nav .hd_nav_item{
  width: 170px;
  padding: 14px 26px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #3AA9C9;
  color: #3AA9C9;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15) !important;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15) !important;
  font-weight: 600;
  webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.adm_hd_nav .hd_nav_item.active{
  background-color: #3AA9C9;
  color: #ffffff;
}
.adm_hd_nav .hd_nav_item:hover{
  background-color: #3AA9C9;
  border: 1px solid #ffffff;
  color: #ffffff;
/*   -webkit-box-shadow: 0px 3px 8px 1px rgba(34, 185, 255, 0.19) !important;
    box-shadow: 0px 3px 8px 1px rgba(34, 185, 255, 0.19) !important; */
}

.adm_hd_nav .hd_nav_item:hover i{
  color: #ffffff;
}

.adm_hd_nav_text{
  font-size: 1.3rem;
}

.nav_item_icon{
  font-size: 2rem;
  margin: 0 5px 0 0;
}

@media (min-width: 768px) {
    [class^="icon-nav_"]:before, [class*="icon-nav_"]:before{
      vertical-align: middle;
    }
    .adm_hd_nav .hd_nav_item:not(:last-child){
      margin-right: 15px;
    }
}

 @media (max-width: 768px) {
    .adm_hd_nav{
      text-align: center;
      padding: 10px;
    }
    .adm_hd_nav .hd_nav_item{
      width: 150px;    
      margin-top: 5px;
      margin-bottom: 5px;  
    }
    .adm_hd_nav_text{
      font-size: 1.3rem;
    }

    .nav_item_icon{
      font-size: 1.3rem;
      margin: 0 5px 0 0;
    }
}

 @media (max-width: 576px) {
    .adm_hd_nav{
      text-align: center;
      padding: 5px;
      margin: 10px 0 15px 0;
    }
    .adm_hd_nav .hd_nav_item{
      padding: 10px;
      width: 150px;    
      margin: 2px;
    }
    .adm_hd_nav_text{
      font-size: 1.2rem;
    }

    .nav_item_icon{
      font-size: 1.2rem;
      margin: 0 5px 0 0;
    }
}

/* ---------------後台 global style--------------- */
.adm_content label{
  white-space: nowrap;
}
table .action_btn{
  padding: 3px 10px;
}
/* @media (max-width: 768px) {
  .m-form .search_item{
    margin-bottom: 10px;
  }
} */
@media (max-width: 1200px){
  .m-form .search_action{
    border-bottom: 1px dashed #ebedf2;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}
/*---------------後台主頁 Tab--------------*/

.adm_tab .nav.nav-pills, .nav.nav-tabs{
  margin-bottom: 0;
}
.adm_tab .nav.nav-tabs .nav-link{
  color: #3F3F46;
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 600;
  border: 0;
  background-color: #CCCCCC;
}
@media (max-width: 767px) {
  .adm_tab .nav.nav-tabs .nav-link{
    padding: 10px 10px;
     font-size: 1.2rem;
  }
}
.adm_tab .nav.nav-tabs .nav-link:hover{
  background-color: #ffffff;
}
.adm_tab .nav.nav-tabs .nav-link.active{
  color: #3AA9C9;
  background-color: #ffffff;
}

/* Tab content */
.adm_tab .tab-content{
  background-color: #ffffff;
  padding: 20px 30px 30px 30px;
}

/* data search form */
.adm_content .search_content .search_item{
  margin-bottom: 10px;
}

/* table */
.data_content{}

/*---------------後台主頁 Modal--------------*/
/* 安全值設定 */
.tab_alert_num{
  /* display: inline-block; */
}
/* 安全值註解說明 */
.ex_title{
  margin-top: 25px;
  margin-left: 25px;
  font-size: 1.2rem;
}

.danger_feedback{}

.nav.nav-pills.modal_tab, .nav.nav-tabs.modal_tab{
  margin-bottom: 0;
}

.modal_setup .m-form__help{
  font-size: 1rem;
  color: #666666;
  font-weight: 400;
}

.modal_setup .m-form{
  margin-top: -1rem;
}

/* .modal_setup .modal-footer{
  justify-content: space-between;
}
 */


/*---------------後台 帳號管理 adm_account_list--------------*/
.account_list_content{
  padding: 30px;
  background-color: #ffffff;
}

/* 堤防檢查表第二層modal */
.modal_second button.close span{
  float: right;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: blod;
}

/* 堤防檢查表modal */
.checklist_title{
  font-size: 16px;
}
.checklist_img{
  text-align: center;
}
.checklist_img img{
  max-width: 100%;
  height: auto;
}
.file_group{
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.file_group .show_img{
  margin-left: 5px;
}
.outline{
  flex-grow: 2;
  padding: 5px;
  border: 1px solid #ebedf2;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
}
.outline .action_btn{
  padding: 3px 10px;
}
.img_upload,
.img_upload .custom-file-input,
.img_upload .custom-file-label,
.custom-file-label::after{
  height: 2.5rem;
  cursor: pointer;
  line-height: 2.5rem;
}


/* data search form */
.search_content .search_item{
  margin-bottom: 10px;
}

/*****************************
*設備資訊*
//*****************************/
.sensor_setup_section {
  /* padding: 10px 20px; */
}

.sensor_setup_section .list-group-item{
  border:none;
}
.section_hd {
  padding:4px 0;
  margin-bottom:10px;
  line-height: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
.caption_wrap{
  display: flex;
}
.caption_wrap .caption {
  font-weight: bold;
  font-size: 1.2rem;
}

.caption_wrap .caption_line {
  margin-right: 10px;
  width:6px;
  height: 20px;
  border-radius: 3px;
  background-color: #3aa9c9;
}
.items_li{
  padding:10px 4px;
  font-size: 1.1rem;
}
.items_li .items_label{
  margin-right: 10px;
}
.items_li input{
  width:30%;
  display: inline;
}

@media (max-width: 767px) {
  .items_li input {
    width: 50%;
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
    .items_li input {
      width: 40%;
      display: inline;
    }
}