@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}

.modal-body {
    max-height: calc(100vh - 195px);
  }
#m_modal_warning .modal-body{
  overflow-y: auto;
}
.m_portlet_index{
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  margin: 0;
  right: 0;
  left: 70px;
  /* width: calc(100% - 100px); */
  }

  @media (max-width: 1024px) {
    .m_portlet_index{
      left: 0;
      }
  }

.m-portlet.m-portlet--fullscreen.m_portlet_index{
	left: 0;
}

.m_portlet_index .form-group label{
	white-space:nowrap;
}

/* data search form */
.search_content .search_item{
  margin-bottom: 6px;
}

.search_item .input-group-append .btn{
  padding: 0 .5rem;
}

.edit_psw .form-control{
  height: calc(2rem + 16px);
  /* border-radius: 2rem; */
}
/*---------------------------more info ----------------------------*/
/* more info height */
.m-portlet.m-portlet--head-sm .m-portlet__foot, .m-portlet.m-portlet--head-sm .m-portlet__body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* 返回上頁 */
/* .m-portlet__head-text .m-link{
  color: #ffffff;
}

.m-link:hover {
    color: #ffffff;
}

.m-link:hover:after {
    border-bottom: 1px solid #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
} */

/* more info flex  grid*/
.info_content{
  display: flex;
  width: 100%;
  height: 300px;
  /* webkit-box-shadow: 0px 1px 6px 1px rgba(69, 65, 78, 0.2);
  box-shadow: 0px 1px 6px 1px rgba(69, 65, 78, 0.2); */
}
.info_item.flex_left{
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  flex-grow: 0;
}
.info_item{
  padding: 10px;
  background-color: #ffffff;
  width: auto;
  flex-grow: 1;
  overflow: auto;
}
.info_content .info_item{
  /* border-left: 1px solid #CACED5; */
}
.item_table{
  flex-grow: 2;
  min-width: 500px;

}
.item_chart{
  min-width: 280px;
  max-width: 500px;
}

.item_title{
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.item_content{
  padding-top: 5px;
}

@media (max-width: 767px) {
  .info_content{
      height: 200px;
    }
    .info_item{
     /* min-width: 400px; */
     overflow-x: auto;
    }
}
@media (max-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
  .info_content{
      /* height: 285px; */
      overflow-x: auto;
    }
    .info_item{
     min-width: 400px;
     overflow-x: auto;
    }
}
@media (min-width: 1200px) {
}
/*基本資訊*/
.item_basic_desc{
  border-bottom: 1px solid #ebedf2;
  padding: 0.5rem 0;
}

.item_basic .item_content{
  padding-right: 10px;
  padding-left: 10px;
}
.item_basic_desc span.desc_title{
  /* display: block; */
  color: #6f727d;
  font-size: 1rem;
}

.item_basic_desc span.desc_text{
  /* display: block; */
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

/*圖表*/
.item_chart .time_text{
  font-size: 0.8rem;
}

/*---------------------------------------------------------------------*/
/* layer dropdown 圖層下拉選單 */
.layer_dropdown{
  position: absolute;
  right: 0;
  z-index: 2;
}
/* .layer_dropdown .m-badge{
	min-height: 10px;
	min-width: 10px;
	line-height: 10px;
} */
.m-accordion .m-accordion__item .m-accordion__item-body > span, 
.m-accordion .m-accordion__item .m-accordion__item-body .m-accordion__item-content{
  padding: 1rem 1rem;
}.m-accordion.m-accordion--default .m-accordion__item{
  margin-bottom: 0.5rem;
}
.dropdown_body_head{
  margin-bottom: 10px;
}
 .chechbox_wrap{
  padding-left: 40px;
 }
 .chechbox_wrap .m-checkbox{
  font-size: 1.1rem;
  margin-right: 10px;
 }
 .all_input{
 	display:block;
  margin-left: -40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
 }

 .sensor_item{
  border: 1px solid #ebedf2;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius:6px ;
    vertical-align: middle;
    margin-bottom: 0.5rem;
 }

 .sensor_item label{
  margin: 0 ;
  font-size: 1.2rem;
 }
 .sensor_item .layer_icon{
   margin-right: 1rem;
 }

.layer_icon{
  display: inline-block;
  width: 24px;
  height: 24px;
 }

.layer_icon img{
  width: 100%;
 }

.m-checkbox > span{
  top: 3px;
}

.m-form span.m-form__help{
  font-size: 1rem;
  color: #666666;
  font-weight: 400;
}
@media (max-width: 1200px){
  .m-form .search_action{
    border-bottom: 1px dashed #ebedf2;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
  .m-form .m-form__group{
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

/* 帳號資訊modal */
#m_modal_profile .m-tooltip .tooltip-inner {
    color: red;
    
}


/* 堤防檢查表modal */
.checklist_title{
  font-size: 16px;
}
.checklist_img{
  text-align: center;
}
.checklist_img img{
  max-width: 100%;
  height: auto;
}

.data_table_list .table tbody tr th,
.data_table_list .table thead tr th{
    background: #cbf0fb;
    font-size: 15px;
    font-weight: 600;
}
/* 堤防檢查表第二層modal */
.modal_second button.close span{
  float: right;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: blod;
}

/*警示訊息 modal*/
.modal .modal-body .warning_sum{
  float: right; 
  margin-left: 20px;
}


/*地圖圖例說明*/
.legend_wrap{
  position: fixed;
  width: 220px;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); 
  webkit-box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.17) !important;
    box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.17) !important;
}

.legend_wrap .action_bar{
  padding: 10px 15px;
  color: #ffffff;
  background-color: #3aa9c9; 
  border-radius: 4px 4px 0 0;
  cursor: pointer; 
  line-height: 10px;
  vertical-align: middle;
  font-size: 1.2rem;
}
/* .legend_wrap .action_bar:hover{
   background-color: #22b9ff;
   color: #ffffff;
} */
.legend_items{
  padding: 4px 15px;
  display: flex;
  justify-content: space-between;
}
.legend_item{
  margin: 8px 0;
}

.legend_icon{
  display: inline-block;
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
.legend_icon img{
  width: 24px;
  max-height: 24px ;
}

.legend_text{
  font-size: 1.1rem;
}

.table_loading{
  margin:0 auto;
}
.table_loading span{
  display: table-cell;
  vertical-align: middle;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 400;
}

#m_modal_chart .modal-body{

}

.tgMapTypeCtrl{
  z-index:3;
}