
/* metronic css style */
.m-page {
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center top;
    background-image: url("../../demo/media/img/bg/login_bg.jpg");
}

.m-login.m-login--2 .m-login__wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container {
    width: 600px;
    margin: 0 auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 4rem auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head {
    margin-top: 1rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head .m-login__title {
    text-align: center;
    font-size: 1.5rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head .m-login__desc {
    margin-top: 1.5rem;
    text-align: center;
    font-size: font-get-size(regular);
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
    margin: 4rem auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style {
    border-radius: 40px;
    border: none;
    margin-top: 1.5rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style.m-login__form-input--last {
    border: 0;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group.has-danger .input_style-feedback {
    font-weight: 400;
    font-size: 0.85rem;
    padding-left: 1.6rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub {
    padding-left: 7px;
    padding-right: 7px;
    margin: 15px auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    font-size: 1rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-link {
    font-size: 1rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
    text-align: center;
    margin-top: 7%;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    display: inline-block;
    text-align: center;
    padding: 1.4rem 4rem;
    margin-top: 0.8rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__account {
    text-align: center;
    margin-top: 5%;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__account .m-login__account-msg {
    font-size: 1.1rem;
    font-weight: 400;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__account .m-login__account-link {
    font-size: 1.1rem;
    font-weight: 400;
}

.m-login.m-login--2.m-login--signin .m-login__signup {
    display: none;
}

.m-login.m-login--2.m-login--signin .m-login__signin {
    display: block;
}

.m-login.m-login--2.m-login--signin .m-login__forget-password {
    display: none;
}

.m-login.m-login--2.m-login--signup .m-login__signup {
    display: block;
}

.m-login.m-login--2.m-login--signup .m-login__signin {
    display: none;
}

.m-login.m-login--2.m-login--signup .m-login__forget-password {
    display: none;
}

.m-login.m-login--2.m-login--signup .m-login__account {
    display: none;
}

.m-login.m-login--2.m-login--forget-password .m-login__signup {
    display: none;
}

.m-login.m-login--2.m-login--forget-password .m-login__signin {
    display: none;
}

.m-login.m-login--2.m-login--forget-password .m-login__forget-password {
    display: block;
}
/* header rwd */
@media(min-width:1025px){
    .login_header{
        padding: 0 20px;
    }
    .login_header .web_name{
        line-height: 140px;
        font-size: 2rem;
        display: inline-block;
    }
    .footer_info{
      padding: 40px 60px;
    }
}
@media (max-width: 1024px) {
    .login_header{
        /* height: 60px; */
        padding: 6px 25px;
    }
    .login_header .web_name{
        line-height: 140px;
        font-size: 2rem;
        display: inline-block;
    }
    .footer_info{
      padding: 40px 60px;
    }
}
@media(max-width:767px){
    .login_header{
        height: 60px;
        padding: 6px 25px;
    }
    .login_header .web_name{
        display: inline-block;
        line-height: 0;
        padding: 10px 0 0 0;
        font-size: 1rem;
        font-weight: 600;
    }
    .login_header img{
        max-width: 200px;
    }
    .footer_info{
      padding: 10px 20px;
    }
}
/* wrapper */
@media (max-width: 1024px) {
    .m-login.m-login--2 .m-login__wrapper {
        padding-top: 10rem;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__account {
        margin-top: 10rem;
    }
}

@media (max-width: 767px) {
    .m-login.m-login--2 .m-login__wrapper .m-login__container {
        width: 100%;
        margin: 0 auto;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
        width: 100%;
        margin: 0 auto;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-login__form-left {
        padding-right: 0;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-login__form-right {
        padding-left: 0;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
        padding-top: 3rem;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .btn {
        padding: 0.8rem 3rem;
        margin-top: 10px;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form-action .btn {
        padding: 1rem 3rem;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__account {
        margin-top: 20%;
    }
}

@media (max-width: 1024px) {
    .m-login.m-login--2 .m-login__wrapper {
        width: 100%;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub {
        padding-left: 0;
        padding-right: 0;
    }
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__title {
    color: #f9f5ff;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__desc {
    color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form {
    color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style {
    color: #e3d9fa;
    background: rgba(67, 34, 167, 0.4);
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style::-moz-placeholder {
    color: #b295f1;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style:-ms-input-placeholder {
    color: #b295f1;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style::-webkit-input-placeholder {
    color: #b295f1;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style:focus {
    color: white;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style:focus::-moz-placeholder {
    color: #e3d9fa;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style:focus:-ms-input-placeholder {
    color: #e3d9fa;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style:focus::-webkit-input-placeholder {
    color: #e3d9fa;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link:hover {
    color: white;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link:hover:after {
    border-bottom: 1px solid white;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    color: #b295f1;
    border-color: #9168eb;
    background-color: transparent;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn:focus,
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn:hover {
    border-color: white;
    color: white;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary {
    color: white;
    border-color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary:focus,
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary:hover {
    border-color: white;
    color: white;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__account .m-login__account-msg {
    color: #c2acf4;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__account .m-login__account-link {
    color: #f3effd;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__account .m-login__account-link:hover {
    color: white;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__account .m-login__account-link:hover:after {
    border-bottom: 1px solid white;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

@media (max-width: 1024px) {
    .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .input_style {
        background: rgba(67, 34, 167, 0.8);
    }
}


.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__desc {
    color: #aba5b6;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form {
    color: #aba5b6;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style {
    color: #91899f;
    background: #f7f6f9;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style::-moz-placeholder {
    color: #9e97aa;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style:-ms-input-placeholder {
    color: #9e97aa;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style::-webkit-input-placeholder {
    color: #9e97aa;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style:focus {
    color: #776e87;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style:focus::-moz-placeholder {
    color: #91899f;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style:focus:-ms-input-placeholder {
    color: #91899f;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style:focus::-webkit-input-placeholder {
    color: #91899f;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #aba5b6;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #aba5b6;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover {
    color: #776e87;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover:after {
    border-bottom: 1px solid #776e87;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-msg {
    color: #aba5b6;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-link {
    color: #847b93;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-link:hover {
    color: #6a6279;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-link:hover:after {
    border-bottom: 1px solid #6a6279;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__head .m-login__title {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__head .m-login__desc {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style {
    color: #7668a4;
    background: #24143f;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style::-moz-placeholder {
    color: #695b98;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style:-ms-input-placeholder {
    color: #695b98;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style::-webkit-input-placeholder {
    color: #695b98;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style:focus {
    color: #9388b8;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style:focus::-moz-placeholder {
    color: #7668a4;
    opacity: 1;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style:focus:-ms-input-placeholder {
    color: #7668a4;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .input_style:focus::-webkit-input-placeholder {
    color: #7668a4;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .m-login__form-sub .m-link:hover {
    color: #9388b8;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .m-login__form-sub .m-link:hover:after {
    border-bottom: 1px solid #9388b8;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__account .m-login__account-msg {
    color: #5e5288;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__account .m-login__account-link {
    color: #8478ae;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__account .m-login__account-link:hover {
    color: #a198c1;
}

.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__account .m-login__account-link:hover:after {
    border-bottom: 1px solid #a198c1;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/* mars css style */
.login_header{
  margin-bottom: 3px;
  background-color: #3AA9C9;
}

.login_header .web_name{
  color: #ffffff;
  font-weight: blod;  
}

/* 標題 */
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title{
  color: #282a3c;
  font-weight: bold;
}
/* 表單 */
.input_style{
  font-size: 1.2rem;
  padding: 0.8rem;
  color: #4f5050;
  background-color: #ffffff;
  width: 100%;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style,
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style.m-login__form-input--last{
  border: solid #CACED5 1.3px;
  margin-top: 1rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form{
  margin: 2rem auto;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .input_style{
  color: #4f5050;
  background-color: #ffffff;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style:hover,
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .input_style:focus{
  border: solid #3AA9C9 1.3px ;
}

/* 登入區塊 */
.m-login.m-login--2 .m-login__wrapper .m-login__container{
  max-width: 500px;
  padding: 20px 40px  10px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
}

/* check box */
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-checkbox{
  color: #282a3c;
}
.m-checkbox.m-checkbox--focus>input:checked~span,
.m-checkbox.m-checkbox--focus>span:after{
  border: 1.2px solid #3AA9C9;
}

.m-checkbox.m-checkbox--focus>span,
.m-checkbox>span{
  border: 1px solid #4f5050;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-checkbox,
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-link{
  font-size: 1.1rem;
}
/* 忘記帳號 */
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link{
  color: #234eda;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover {
    color: #2147C2;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover:after {
    border-bottom: 1px solid #2147C2;
    opacity: 1;
    filter: alpha(opacity=100);
}
/* button */
.btn_login{
  background-color: #3AA9C9;
  border-color: #3AA9C9;
  color: #ffffff;
  font-size: 1.2rem;
}
.btn_login:active{
  background-color: #4dc1e2;
  border-color: #ffffff;
   }
.btn_login:focus{
  background-color: #4dc1e2;
  border-color: #ffffff;
   }
.btn_login:hover{
  background-color: #4dc1e2;
  border-color: #4dc1e2;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 185, 255, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(34, 185, 255, 0.19) !important;
   }

/* footer */
footer{
  background-color: #555555;
 
}
.footer_info{
  color: #ffffff;
  margin: 0 auto;
  display: table;
}
.footer_info p{
  font-size: 0.93rem;
  margin-bottom: 0px;
  display:table;
}


